body{
    background-color: thistle;
    text-align: center;
    
}

div{
    /* border: 2px solid black; */
    padding-top: 20px;
    padding-bottom: 20px;
}
    
input{
    height: 30px;
    width: 250px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 15px;
}

#email{
    width: 270px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(163, 127, 127);
    transition: 0.5s;
}
button:hover{
    background-color: darkgrey;
    color: aqua;
    cursor: pointer;
}