body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
        background: black;
        border: 5px solid black;
        margin-left: 45%;
        height: 500px;
        width :200px;
        border-radius: 20px;
        
}

.circle
{
    height: 30px;
    width:60%;
    border-radius: 50%;
    padding-top: 100px;
    margin-left: 20%;
}

#red{
    margin-bottom: 20Px;
    margin-top: 35px;
    background-color: red;
}

#yellow{
    margin-bottom: 20px;
    background-color: yellow;
}

#green{
    background-color: green;
    
}